@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Lilita+One&display=swap');

@font-face {
    font-family: "Aptos";
    src: url(../fonts/Aptos.ttf);
}

:root {
    --color-primario: #DCC6E0;
    --color-secundario: #F8D7E1;
    --color-acento: #D4EBE8;
    --color-texto: #4B4B4B;
    --color-fondo: #F8F8F8;
    --color-hover: #B39CD0;
}

/* General */
* {
    font-family: "Aptos", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: var(--color-primario);
    text-align: center;
    padding: 40px 0;
}

header h1 {
    font-size: 4rem;
    margin: 0;
    color: white;
}

/* Nav */
nav {
    background-color: var(--color-primario);
    display: flex;
    justify-content: center;
    gap: 20px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0;
}

nav a {
    color: var(--color-texto);
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--color-hover);
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
    margin: 20px 0;
}

nav li {
    display: inline;
    padding: 20px;
}

/* Main */
main {
    color: var(--color-texto);
    background-color: var(--color-fondo);
}

.row {
    width: 100%;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.col2 {
    width: 45%;
    padding: 10px;
}

.col3 {
    width: 30%;
    padding: 10px;
}

.col4 {
    width: 25%;
    padding: 10px;
}

.legal {
    padding: 20px;
    text-align: justify;
}

.legal h1, .legal h2, .legal h3, .legal h4, .legal h5, .legal h6 {
    text-align: left;
}

.legal li {
    margin: 10px 30px;
}

.legal a {
    color: #513eff;
}

.legal a:hover {
    color: #3a2fa1;
}

section:not(#contacto) {
    padding: 20px 0;
}

hr {
    width: 80%;
    margin: auto;
    border: none;
    height: 2px;
    background-color: var(--color-primario);
}

/* Inicio / Sobre mi */
#inicio img {
    max-width: 65%;
    border-radius: 50%;
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.4);
    transition: 0.5s ease;
}

#inicio img:hover {
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.9);
}

#inicio p {
    line-height: 1.5;
    text-align: justify;
}

/* Skills */
.cuadrado {
    border: 0;
    border-radius: 20px;
    width: 100%;
    padding: 20px;
    text-align: center;
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.4);
    transition: 0.5s ease;
}

.cuadrado:hover {
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.9);
    transform: scale(1.2);
    transform: translateY(-10px);
}

.cuadrado i {
    color: var(--color-texto);
    font-size: 5vw;
    padding-top: 10px;
    padding-bottom: 30px;
    transition: transform .5s ease;
}

.cuadrado i:hover {
    color: var(--color-texto);
    transform: scale(1.2);
}

.cuadrado p {
    font-size: 1vw;
    color: var(--color-texto);
    font-weight: bold;
}

/* Backgrounds */
.lavanda {background-color: #E6E6FA}
.rosa {background-color: #FFD1DC}
.menta {background-color: #B4F8C8}
.celeste {background-color: #AEE4FF}
.melocoton {background-color: #FFDAB9}
.granate {background-color: #ffb7b7}
.vainilla {background-color: #FFF4B2}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lilita One', sans-serif;
    color: var(--color-texto);
    margin-bottom: 15px;
    text-align: center;
}

h1 {font-size: 4rem}

h2 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}

h3 {font-size: 1.5rem}
h4 {font-size: 1.3rem}
h5 {font-size: 1.1rem}
h6 {font-size: 1rem}

/* Paragraphs */
p {
    font-size: 1rem;
    color: var(--color-texto);
}

/* Links */
main a {
    color: var(--color-secundario);
    text-decoration: underline;
    transition: color 0.3s ease;
}

main a:hover {
    color: var(--color-hover);
}

/* Icons */
main i {
    color: var(--color-primario);
    font-size: 1.5rem;
    transition: color 0.3s ease, transform 0.2s ease;
}

main i:hover {
    color: var(--color-hover);
    transform: scale(1.2);
}

/* Contacto */
#contacto {
    margin: 0;
    padding: 0;
}

.contact-icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: var(--color-texto);
}

.contact-item i {
    margin-right: 10px;
}

/* Formulario de Contacto */
form {
    width: 90%;
    margin: 10px;
    padding: 20px;
    background: var(--color-primario);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form a {
    color: var(--color-texto);
}

input[type=checkbox]:checked {
    background-color: var(--color-primario);
    border-color: var(--color-primario);
}

input:not(input[type=checkbox]), textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid var(--color-fondo);
    border-radius: 5px;
    font-size: 1rem;
    transition: .5s ease;
}

input:hover, textarea:hover {
    outline: none;
    border: 2px solid var(--color-hover);
}

input:focus, textarea:focus {
    outline: none;
    border: 2px solid var(--color-hover);
}

button {
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

.enviar {
    background-color: #7cbcff;
    transition: .5s ease;
}

.borrar {background-color: #ff8f8f;
    transition: .5s ease;
}

.enviar:hover {background-color: #4f81b7}
.borrar:hover {background-color: #f76262}


label {
    text-align: left;
    font-size: 1.1rem;
    color: var(--color-texto);
}

.obligatorio {
    font-weight: bold;
    color: red;
}

.opcional {
    font-style: italic;
    color: gray;
}

.mapa {
    width: 100%;
    height: 450px;
    border: 0;
}

/* Footer */
footer {
    background-color: var(--color-primario);
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 0.9rem;
}

footer i {
    color: white;
    font-size: 1.5rem;
    transition: 0.3s ease;
}

footer i:hover {
    color: var(--color-hover);
    transform: scale(1.2);
}

footer ul {
    list-style-type: none;
    margin: 20px 0;
}

footer li {
    display: inline;
    padding: 20px;
}

footer a {
    color: white;
    text-decoration: none;
    transition: 0.5s ease;
}

footer a:hover {
    color: var(--color-hover);
    text-decoration: underline;
}

.enlaces-legales {
    padding-top: 10px;
}

.copyright {
    padding-top: 20px;
}